h1{
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 100px;
}

h2{
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 85px;
}

body{
  background-image: url("homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  font-family: 'Aldrich', sans-serif;
  font-size: 70px;
}

#roomTitle{

}

#roomText{

}

#roomChoices{

}
