#menu {
  padding: 5px 30px;
}

li {
  min-width: 200px;
}

#menu>li {
  float:left;
  position: relative;
  background-color: #80b3ff;
  text-align: center;
  margin: 2px;
}

#menu>li:hover {
  background-color: #3385ff
}

ul {
  list-style-type: none;
}

#menu>li>ul {
  display: none;
  position: absolute;
  padding: 0px;
}

#menu>li:hover ul{
  display: block;
  background-color: #80b3ff;
}


li:hover{
  background-color: #3385ff;
}
